.container {
    margin-top: 200px;
    text-align: center;
}

h1 {
    color: #27aedb;
    text-align: center;
}
  
.button {
    background-color:green;
    border: none;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 200px;
}